$headerColor = 'green';
$headerFontStyle = 'italic';
$closeColor = 'red';

.todo{
  .todo_title{
    color: $headerColor;
    font-size: 80px;
    font-style: $headerFontStyle;
  }
  .todo_time{
    .todo_time--input{
      margin-bottom: 30px;
    }
  }
  .todo_button-task{
    margin-bottom: 20px;
  }
  .todo_item-wrapper{
    display: block;
    margin: 10px;
  }
  .todo_item-wrapper--close{
    color: $closeColor;
    &:hover{
      cursor:pointer;
      cursor: auto;
    }
  }
}
